<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      autoReload="true" throwExceptions="false"
      internalLogFile="${basedir}/Log/log.txt">
  <variable name="ErrorLog" value="${basedir}/Log/Error"/>
  <variable name="InfoLog" value="${basedir}/Log/Info"/>
  <variable name="Date" value="${date:format=yyyy-MM-dd}"/>
  <variable name="DateTime" value="${date:format=MM-dd-yyyy HH\:mm\:ss}"/>
  <extensions>
    <!-- load NLog.Extended to enable ASP.NET-specific functionality -->
    <add assembly="NLog.Extended" />
  </extensions>
  <!--Define Various Log Targets like files, database or asp.net trace files-->
  <targets>
    <!--Write logs to File  where we want to write error logs-->
    <target name="error" xsi:type="File"
           fileName="${ErrorLog}/${Date}.log"
           encoding="utf-8"
           maxArchiveFiles="10"
           archiveAboveSize="10485760"
           archiveFileName="${ErrorLog}/${Date}-{#######}.a"
           layout="Timestamp:${var:DateTime} Machine:${machinename} CorrelationId:${var:CorrelationId} ExceptionType:${exception:format=Type} ExceptionMessage:${exception:format=Message} StackTrace:${exception:format=stacktrace}"
            />
    <target name="info" xsi:type="File"
              fileName="${InfoLog}/${Date}.log"
              encoding="utf-8"
              maxArchiveFiles="10"
              archiveAboveSize="10485760"
              archiveFileName="${InfoLog}/${Date}-{#######}.a"
              layout="Timestamp:${var:DateTime} Machine:${machinename} ${message}"
            />
  </targets>

  <rules>
    <logger name="*" minlevel="Error" maxlevel="Error" writeTo="error" />
    <logger name="*" minlevel="Info" maxlevel="Info" writeTo="info" />
  </rules>
</nlog>
